# created 8/28/2026

CACHE_FOLDER = "cache"
DISPLAY_SECONDS = 5
IDLE_SECONDS = 0.5
SYNC_INTERVAL = 1 #60

GOOGLE_DRIVE_FOLDER_ID = "1PCx8gffDxNx9AdDQjKPgpNyXBa74pxM1"
SECRETS_FOLDER = "secrets"
GOOGLE_CREDENTIALS_FILE = "google_credentials.json"
GOOGLE_TOKEN_FILE = "google_token.json"
